[core]
  autocrlf = false
  excludesfile = ~/.gitignore
[credential]
  helper = cache
[include]
  path = ~/.gitconfig.local
[alias]
  ci = commit -v
  co = checkout
  st = status
  di = diff
  br = branch
  df = diff
  a  = add
  d  = diff
  dc = diff --cached
  f  = fetch
[color]
  diff        = auto
  status      = auto
  branch      = auto
  interactive = auto
