{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": 12
  },
  "globals": {
    "api": true,
    "settings": true
  }
}
