/*
/.*

!/.gitignore
!/asdf
!/bat
!/git
!/vim
!/markdown-preview
!/nvim
!/pry
!/ripgrep
!/rubocop
!/silicon
!/sshrc
!/textlint
!/tmux
!/zsh
!/zsh-abbr

!/direnv
/direnv/*
!/direnv/direnvrc

!/fish
/fish/fish_variables

!/hub
/hub/*
!/hub/config.tmpl

!/pgcli
/pgcli/*
!/pgcli/config

!/karabiner
/karabiner/*
!/karabiner/karabiner.json
!/karabiner/.editorconfig

!/vimspector-config
/vimspector-config/*
!/vimspector-config/configurations
