/*
/.*

!/.gitignore
!/asdf
!/bat
!/cspell
!/git
!/ghostty
!/lazygit
!/markdownlint
!/markdown-preview
!/mise
!/nvim
!/pry
!/ripgrep
!/rubocop
!/sheldon
!/silicon
!/textlint
!/wezterm
!/zsh
!/zabrze

!/direnv
/direnv/*
!/direnv/direnvrc

!/hub
/hub/*
!/hub/config.tmpl

!/pgcli
/pgcli/*
!/pgcli/config

!/karabiner
/karabiner/*
!/karabiner/karabiner.json
!/karabiner/.editorconfig

!/hadolint.yaml
!/mise.toml
