continuation_prompt = '[❯❯ ](purple)'

format = """
$username\
$hostname\
$directory\
$cmd_duration\
$line_break\
$python\
$character"""

[directory]
style = "blue"

[character]
success_symbol = "[彡:匚＞](purple)"
error_symbol = "[彡X匚＞](red)"

[git_branch]
format = "[$branch]($style)"
style = "green"

[cmd_duration]
format = "[$duration]($style) "
style = "yellow"

[python]
format = "[$virtualenv]($style) "
style = "bright-black"
