.UrlBar.toolbar.toolbar-mainbar {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.UrlBar.toolbar.toolbar-droptarget.toolbar-mainbar {
  width: 155px;
}

.button-toolbar.newtab,
.sync-and-trash-container {
  display: none;
}

#tabs-container,
#webview-container {
  padding-bottom: 32px;
}

#webview-container ~ .StatusInfo {
  bottom: 38px;
}
