* {
  --color-text-primary: #abb2bf !important;
  --foreground-color: #abb2bf !important;
  --background-color: #282c34 !important;
  --border-color: #282c34 !important;
  --secondary-background-color: #282c34 !important;
  font-family: "Explex Console NF";
  fill: #abb2bf !important;
}

body {
  margin: 0 0 8em 0;
  padding: 0.3em 1em;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  padding: 0.3em 0;
  font-weight: bold;
  background-color: #3b4048;
}
h1 {
  color: #e06c75;
}
h2 {
  color: #56b6c2;
}
h3 {
  color: #98c379;
}
h4 {
  color: #c678dd;
}
h5 {
  color: #e2be7d;
}
h6 {
  color: #abb2bf;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  color: #7f848e;
  padding: 0 8px 0 -2px;
  letter-spacing: -2px;
}
h1::before {
  content: "#";
}
h2::before {
  content: "##";
}
h3::before {
  content: "###";
}
h4::before {
  content: "####";
}
h5::before {
  content: "#####";
}
h6::before {
  content: "######";
}

blockquote {
  color: #7f848e;
  border-style: solid;
  border-color: #61afef !important;
  border-width: 0 0 0 0.3em !important;
  margin-inline-start: 0.6em;
  padding-left: 1em;
}

a {
  color: #61afef;
}

a.anchor {
  display: none;
}

#page-header {
  border-width: 0;
}
#page-header h3 {
  color: #abb2bf;
  border-width: 0;
  background-color: transparent;
}
#page-header h3::before {
  content: "";
}

#page-ctn {
  max-width: 100vw;
}

ul,
ol {
  margin-bottom: 0;
}
li::marker {
  color: #948b60;
}
ol > li {
  /* list-style-type: decimal; */
  margin-left: 0.2em;
}
ul > li {
  list-style-type: "\f1826";
  margin-left: -0.9em;
  padding-left: 0.7em;
}
ol > li > input {
  margin-left: -0.2em;
}
/* ul > li:not(li > input) { */
/*   padding-left: 1.1em; */
/* } */
/* ol > li:not(li > input) { */
/*   padding-left: 0.1em; */
/* } */

ul + img {
  margin-top: 1em;
}

p.source-line {
  margin-block-start: 0;
  margin-block-end: 0;
}

strong {
  font-weight: bold;
  color: #d19a66;
}

em {
  font-style: italic;
  color: #c678dd;
}

s {
  color: #7f848e;
}

pre,
code {
  background-color: #30333d !important;
}
code {
  color: #e8939a;
  line-height: 1.8em;
  display: inline-block;
}
code::before,
code::after {
  content: "`";
}
pre > code {
  line-height: 1em;
}
pre > code::before,
pre > code::after {
  content: "";
}

input.task-list-item-checkbox[type="checkbox"] {
  position: relative;
  top: 0.3em;
  left: 0.1em;
  height: 1em;
  width: 1em;
  display: inline-block;
  border-radius: 2px;
  border: 2px solid #d19a66;
  background: #282c34;
  -webkit-appearance: none;
  appearance: none;
}
input.task-list-item-checkbox[type="checkbox"]:checked {
  border: none;
  background-image: url('data:image/svg+xml;utf8,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><rect width="16" height="16" fill="%2398c379" /><path fill="none" stroke="%23282c34" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M12.6,5.17l-5.66,5.66L3.4,7.29"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
}
